
<h2>Por país</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar por país.."
        ></app-pais-input>
    </div>
</div>

<hr>

<div *ngIf="hayError" 
    class="alert alert-danger">
    No se encontro nada con el término "{{termino | lowercase}}"
</div>

<div class="row" *ngIf="listaPaises.length > 0" >
    <div class="col">
        <app-pais-tabla [listaPaises]="listaPaises"></app-pais-tabla>
    </div>
</div>